@mixin flexCenter {
     display: flex;
     justify-content: center;
     align-items: center;
}

@mixin flexLeft {
     display: flex;
     align-items: left;
     text-align: left;
}

@mixin absoluteCenter {
     position: absolute;
     transform: translate(-50%,-50%);
     top:50%;
     left: 50%;
}

