@import "./font.scss";
@import "./colors.scss";
@import "./mixins.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*, ::after, ::before {
   padding: 0;
   margin: 0;
}

body {
     background-color: $dark;
     font-size: $small;
     
}

.container {
     @include absoluteCenter;
     @include flexCenter;
     background-color: $white;
     color: $dark;
     width: 350px;
     height: auto;
     padding: 4.5rem 2.5rem;
     border-radius: 2rem;
     font-family: 'Manrope', sans-serif;
}

.container-content {
     display: grid;
     grid-template-columns: repeat(auto, 1fr);
     gap: 1em;
}

// ? TITLE
.more {
     position: absolute;
     right: 0;
     top: 0;
     color: $grey;
}

h1 {
     font-size: $title;
}

h3 {
     font-size: $medium;
}

.title {
     display: flex;
     position: relative;
     flex-direction: column;
     row-gap: 1em;
     padding-bottom: 1.5em;
}

.title .logo {
     background-color: $white;
     height: 2.5em;
     width: 2.5em;
     color: $main;
     border: 1px solid $grey-light;
     border-radius: 2.5em;

}

.title .text,
.title .text-2 {
     @include flexLeft;
     ;
}

.title .text-2 {
     color: $grey;
}

.App-Name{
     color: $main;
     transition: background-color, 0.2s;
}

.App-Name:hover{
     color: $main-hover;
}
// ? INPUTS

.inputs {
     @include flexLeft;
     flex-direction: column;
     margin: 1em 0 1em 0;
     gap: 2em;
     padding-bottom: 0.5em;
}

.icon {
     @include flexCenter;
     border-radius: 50px;
     height: 50px;
     width: 50px;
     color: $main;
     border: 0;
}

input {
     width: 350px;
     height: 50px;
     padding-left: 20px;
     border: none;
     box-shadow: 1px 1px 1px 1px $grey-light;
     outline: none;
     font-size: $small;
     color: $dark;
     border-radius: 10em;
}

input::placeholder {
     color: $grey;
}

.input-element{
     position: relative;
     width: 100%;
}

.input-element .eye{
     color: $grey;
     position: absolute;
     right: 1.1em;
     top: 0.9em;
     cursor: pointer;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

.password-h4,
.input-element-h4 {
     width: 100%;
     position: absolute;
     display: grid;
     grid-template-columns: 50px 1fr;
     top: -3em;
     left: 0;
     font-size: $mini;
}

.text-h4 {
     @include flexLeft;
     
}
// ? FORGOT, NO ACCOUNT
.info {
     display: grid;
     grid-template-columns: 1fr 1fr;
     margin-bottom: 1em;
}

.info p,
.noAccount p {
     font-size: $small;
     font-weight: 500;
}

.remember {
     display: grid;
     grid-template-columns: auto 1fr;
     gap: 10px;
}

.forgot {
     text-align: right;
}

.checkbox {
     color: $dark;
}
// ? LOGIN 

.login-btn {
     @include flexCenter;    
}

.login-btn .login {
     background-color: $main;
     height: 3em;
     width: 100%;
     border: none;
     border-radius: 5em;
     font-size: medium;
     color: $white;
     transition: background-color, 0.2s;
}

.login-btn .login:hover {
     cursor: pointer;
     opacity: 0.9;
     background-color: $main-hover;
}

// ? NO ACCOUNT

.noAccount {
     padding-top: 2em;
     font-size: $mini;
     @include flexCenter;
}

.signUp {
     color: $link;
     cursor: pointer;
}